<!-- FOOTER -->
<footer>
  <p class="pull-right"><a (click)="goToTop()">Back to top</a></p>
  <p>&copy; 2017 Movie App &middot; <a (click)="callFake()">Privacy</a> &middot; <a (click)="callFake()">Terms</a></p>
</footer>
