<div id="myCarousel" class="carousel slide" data-ride="carousel" (mouseenter)="initCarousel()">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li *ngFor="let movie of movies; let i = index; let first = first"
        (click)="slideTo(i)"
        [ngClass]="{'active': first}"></li>
  </ol>
  <div #slideContainer class="carousel-inner" role="listbox">
    <div #slide
         *ngFor="let movie of movies; let i = index; let first = first"
         class="item"
         [ngClass]="{'first active': first}">
      <img class="slide-{{ i }}" src="/assets/images/movie-scene-large/{{ movie?.img }}" alt="{{ movie?.name }}">
      <div class="container">
        <div class="carousel-caption">
          <h1>{{ movie?.name }}</h1>
          <p>{{ movie?.description }}</p>
          <p><a class="btn btn-lg btn-default" [routerLink]="['movies', movie?.slug]" role="button">Find out more</a></p>
        </div>
      </div>
    </div>
  </div>
  <a #prevButton class="left carousel-control disabled" (click)="prev()" role="button">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
  </a>
  <a #nextButton class="right carousel-control" (click)="next()" role="button">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
  </a>
</div>
