<div class="genres">
    <span *ngFor="let genre of genres" class="genre">
      <i class="label label-default" [ngClass]="{'label-success': filters?.genre == genre}">{{ genre }}</i>
    </span>
</div>
