<div class="row">
  <div class="col-xs-12 text-center subtitle">
    <h2>Newest movies released</h2>
  </div>
</div>
<div *ngFor="let movie of movies; let odd = odd; let even = even; let first = first; let last = last">
  <hr *ngIf="!first" class="featurette-divider">
  <div class="row featurette">
    <div class="col-md-7" [ngClass]="{'col-md-push-5': even}" (click)="showDetail(movie.slug)">
      <h2 class="featurette-heading">{{ movie.name }}</h2>
      <span class="text-muted">Year {{ movie.year }}</span>

      <app-movie-genres [genres]="movie.genres"></app-movie-genres>

      <p class="lead">{{ movie.description }}</p>
    </div>
    <div class="col-md-5" [ngClass]="{'col-md-pull-7': even}">
      <img class="featurette-image img-responsive center-block" data-src="/assets/images/movie-covers/{{ movie.img }}" alt="{{ movie.name }}">
    </div>
  </div>
  <hr *ngIf="last" class="featurette-divider">
</div>
<div class="row">
  <div class="col-xs-12 text-center">
    <a routerLink="movies" class="btn btn-default btn-lg btn-block">See all Movies</a>
    <hr class="featurette-divider">
  </div>
</div>
