@import "../../assets/styles/variables";

.search {
  margin: 9px 0 0 0;
  position: relative;

  input, button {
    background: transparent;
    border: 0;
  }
  input {
    width: 200px;
    border-bottom: 1px solid;
    border-radius: 0;
    padding: 0;
    &:focus {
      color: $white;
      outline: none;
      box-shadow: none;
    }
  }
  button {
    color: $white;
    &:hover {
      border: 1px solid $grey5a;
    }
  }
}
