<div id="navbar" class="navbar-collapse collapse">
  <ul class="nav navbar-nav">
    <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
      <a routerLink="/">Home</a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="movies">All Movies</a>
    </li>
    <li>
      <a>Contact</a>
    </li>
  </ul>
  <div class="pull-right search">
    <form class="form-inline" #searchForm="ngForm" (ngSubmit)="search()">
      <div class="form-group">
        <input type="search" [(ngModel)]="searchTerm" name="searchTerm" class="form-control" placeholder="Search for movies" autocomplete="off">
      </div>
      <button type="submit" class="btn btn-default">
        <span class="glyphicon glyphicon-search"></span>
      </button>
    </form>
  </div>
</div>
