<app-carousel [movies]="newestMovies"></app-carousel>

<div class="container marketing">

  <app-movies-awarded [movies]="awardedMovies"></app-movies-awarded>

  <app-movies-newest [movies]="newestMovies"></app-movies-newest>

</div>

