<div class="huge-poster" [appSetBackground]="slug"></div>
<div class="container site-page">

  <div class="row">
    <div class="col-xs-12">
      <a (click)="goBack()">
        <span class="glyphicon glyphicon-menu-left"></span> Back
      </a>
    </div>
    <div class="col-xs-12 text-center movie-title">
      <h1>{{ movieDetails?.Title }}</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-4 col-md-4 col-xs-12">
      <div class="image">
        <img src="{{ movieDetails?.Poster }}" alt="{{ movieDetails?.Title }}">
      </div>
    </div>
    <div class="col-lg-8 col-md-8 col-xs-12">
      <div class="genres">
        <strong>Genres: </strong>
        <span>{{ movieDetails?.Genre }}</span>
      </div>
      <div class="">
        <strong>Year: </strong>
        <span>{{ movieDetails?.Year }}</span>
      </div>
      <div class="">
        <strong>Rating: </strong>
        <span>{{ movieDetails?.Rated }}</span>
      </div>
      <div class="">
        <strong>Released: </strong>
        <span>{{ movieDetails?.Released }}</span>
      </div>
      <div class="">
        <strong>Runtime: </strong>
        <span>{{ movieDetails?.Runtime }}</span>
      </div>
      <div class="">
        <strong>Director: </strong>
        <span>{{ movieDetails?.Director }}</span>
      </div>
      <div class="">
        <strong>Writer: </strong>
        <span>{{ movieDetails?.Writer }}</span>
      </div>
      <div class="">
        <strong>Actors: </strong>
        <span>{{ movieDetails?.Actors }}</span>
      </div>
      <div class="">
        <strong>Language: </strong>
        <span>{{ movieDetails?.Language }}</span>
      </div>
      <div class="">
        <strong>Country: </strong>
        <span>{{ movieDetails?.Country }}</span>
      </div>
      <div class="">
        <strong>Awards: </strong>
        <span>{{ movieDetails?.Awards }}</span>
      </div>
      <div class="">
        <strong>ImdbRating: </strong>
        <span>{{ movieDetails?.imdbRating }}</span>
      </div>
      <div class="">
        <strong>Production: </strong>
        <span>{{ movieDetails?.Production }}</span>
      </div>
      <div class="">
        <strong>Website: </strong>
        <span><a href="{{ movieDetails?.Website }}">{{ movieDetails?.Website }}</a></span>
      </div>
      <div class="">
        <strong>Plot: </strong>
        <span>{{ movieDetails?.Plot }}</span>
      </div>
    </div>
  </div>

</div>
